* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.main-header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.brand-name {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.main-nav {
  margin-right: 20px;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav ul li {
  list-style: none;
}

.main-nav ul a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size: 1.2rem;
}

.main-nav ul li:hover {
  background-color: #444;
}

.burger-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 30px;
}

.burger-button .burger-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .burger-button {
    display: flex;
  }

  .main-nav {
    display: none;
    width: 100%;
  }

  .main-nav ul {
    width: 100%;
    flex-direction: column;
  }

  .main-nav ul li {
    text-align: center;
  }

  .main-nav ul li a {
    padding: .5rem 1rem;
  }

  .main-nav.active {
    display: flex;
  }
}
